@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); /* font-family: 'Rubik Mono One', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap'); /* font-family: 'Source Code Pro', monospace; */

/* {
    border: 1px solid orange; 
}*/

html {
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
}

.ml4 {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 4.5em;
    text-align: center;
  }

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

.displayContainer {
    margin-top: 7.5em;
    margin-left: 1em;

}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-size: 2em; 
    margin: 1.8em auto;
}
#your-choice {
    opacity: 1;
}
#computer-choice {
    opacity: 0;
    transition: opacity .7s ease-in .8s;  
}
#result {
    opacity: 0;
    transition: opacity .2s ease-in 2s;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choiceButton {
    height: 4.7em; 
    width: 10em;

    border-radius: 5px;
    border: none;
    background-color: blueviolet;

    font-size: 1.7em;
    font-family:'Rubik Mono One', sans-serif;
}

.emoji {
    font-size: 3em;
	-webkit-transform: rotate(-76deg);
    display: inline-block;
}

button:hover {
    cursor: pointer;
}

#resetButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.8em auto; 
}

#resetButton {
    width: 4.2em;
    height: 2em;

    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
#footerP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    letter-spacing: 2px;
}

.logoSpan {
    margin: 5px auto;
}

a {
    color: white;
}

/* MEDIA QUERY FOR SMALL SCREENS*/

@media only screen and (max-width: 750px) {
    .ml4 {
        font-size: 4em;
      }

    .buttonsContainer {
        flex-direction: column;
    }
    html {
        font-size: 12px;
    }

    .choiceButton {
        height: 4em;
        width: 9em;
        margin: 20px auto;
    }
}
